body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  .header {
    padding: 20vh;
    text-align: center;
    color: #eeeeee;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }
  
  .text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;  
    margin-top: 10vh;
    font-size: 21px;
  }

  #myTable {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
  }


  tr, td {
    padding: 3px;
  }

  .page {
    padding: 20vh 20vh;
    text-align: center;
    
    &.class1 {
      background-color: lightblue;
    }
    
    &.class2 {
      background-color: lightcoral;
    }

    &.class3 {
      background-color: cornflowerblue;
    }
    
    &.class4 {
      background-color: lightsalmon;
    }

    &.class5 {
      background-color: lightpink;
    }  
  }

  #splitpage {
    display: grid;
    grid-template-areas: 
      'left right';
    grid-template-columns: 1fr 1fr;
  }
  
  .left {
    grid-area: left;
    align-self: center;
  }
  
  .right {
    grid-area: right;
    align-self: center;
  }

  #myInput {
    height: 36px;
    font-size: 16px;
  }

  #myButton {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 13px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 42px;
  }

  @media (max-width: 800px) {
    #splitpage {
      display: grid;
      grid-template-areas: "left"
                           "right";
    }
  
    .left {
      grid-area: left;
    }
    
    .right {
      grid-area: right;
    }
  }
}


